**/.DS_Store
.Brewfile.lock.json
.cache
.CFUserTextEncoding
.cups
.gnupg
.lesshst
.NERDTreeBookmarks
.npm
.nvm
.pyenv
.python_history
.rbenv
.secrets.sh
.thumbnails
.viminfo
.zcompdump*
.zprofile.bak
.zsh_history
.zsh_sessions
.gitconfig.local
myVim.log
package-lock.json
work.zsh


# directories
Google*
Applications/
Desktop/
Documents/
Downloads/
Google Drive/
Library/
Movies/
Music/
Pictures/
Postman/
Public/
SynologyDrive/
go/
"Google Drive"/
Code/
.Trash/
.docker/
.expo/
.gitkraken/
.ipython/
.lazygit/
.local/
.marks/
.oh-my-zsh/
.prettierd/
.terminfo/
.vscode/
.vim/
.tmux/
.vpn-credentials/
