[core]
    editor = vim
    autocrlf = input
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[rerere]
    enabled = true
[pull]
    ff = only
[init]
    defaultBranch = main
[remote]
    prune = true
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    lg = log --oneline --decorate --all --graph
[include]
    path = .gitconfig.local
