**/.DS_Store
.CFUserTextEncoding
.NERDTreeBookmarks
.bash_history
.cache
.cups
.gitconfig.local
.gnupg
.lesshst
.nix-channels
.npm
.nvm
.pyenv
.python_history
.rbenv
.secrets.sh
.thumbnails
.viminfo
.zcompdump*
.zprofile.bak
.zsh_history
.zsh_sessions
myVim.log
package-lock.json
work.zsh


# directories
.Trash/
.cargo/
.docker/
.dropbox/
.expo/
.gitkraken/
.ipython/
.lazygit/
.local/
.marks/
.nix-defexpr
.oh-my-zsh/
.prettierd/
.rustup/
.terminfo/
.tmux/
.vim/
.vpn-credentials/
.vscode/
Applications/
Code/
Desktop/
Documents/
Downloads/
Dropbox/
Google*
Library/
Movies/
Music/
Pictures/
Postman/
Public/
SynologyDrive/
go/
